<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.hsjung.project.mappers.IBbsMapper">

    <select id="selectBoardById"
    resultType="dev.hsjung.project.entities.bbs.BoardsEntity">
        SELECT
            `id` AS `id`,
            `text` AS `text`
        FROM `bbs`.`boards`
        WHERE BINARY `id` = #{id}
        LIMIT 1
    </select>
</mapper>