<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.hsjung.project.mappers.IBbsMapper">

    <select id="selectBoardById"
    resultType="dev.hsjung.project.entities.bbs.BoardsEntity">
        SELECT
            `id` AS `id`,
            `text` AS `text`
        FROM `bbs`.`boards`
        WHERE BINARY `id` = #{id}
        LIMIT 1
    </select>

    <insert id="insertArticles"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.hsjung.project.entities.bbs.ArticlesEntity">
INSERT INTO  `bbs`.`articles`(`user_email`, `board_id`, `title`, `content`,`view`,`written_on`,`modified_on`)
VALUES (#{userEmail},#{boardId},#{title},#{content},#{view},
        IFNULL(#{writtenOn},DEFAULT(`written_on`)),
        IFNULL(#{modifiedOn},DEFAULT(`modified_on`)))
    </insert>       <!--PK를 제외한 나머지 값 명시해주기-->


</mapper>