<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.hsjung.project.mappers.IBbsMapper">

    <select id="selectBoardById"
    resultType="dev.hsjung.project.entities.bbs.BoardsEntity">
        SELECT
            `id` AS `id`,
            `text` AS `text`
        FROM `bbs`.`boards`
        WHERE BINARY `id` = #{id}
        LIMIT 1
    </select>

    <insert id="insertArticles"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.hsjung.project.entities.bbs.ArticlesEntity">
INSERT INTO  `bbs`.`articles`(`user_email`, `board_id`, `title`, `content`,`view`,`written_on`,`modified_on`)
VALUES (#{userEmail},#{boardId},#{title},#{content},#{view},
        IFNULL(#{writtenOn},DEFAULT(`written_on`)),
        IFNULL(#{modifiedOn},DEFAULT(`modified_on`)))
    </insert>       <!--PK를 제외한 나머지 값 명시해주기-->

    <select id="selectArticlesByBoardId"
            resultType="dev.hsjung.project.vos.ArticleReadVo">
        SELECT
              `article`.`index` AS `index`,
              `article`.`user_email` AS `userEmail`,
              `article`.`board_id` AS `boardId`,
              `article`.`title` AS `title`,
              `article`.`content` AS `content`,
              `article`.`view` AS `view`,
              `article`.`written_on` AS `writtenOn`,
              `article`.`modified_on` AS `modifiedOn`,
              `user`.`nickname` AS `userNickName`
        FROM `bbs`.`articles`   AS `article`
        LEFT JOIN `member`.`users` AS `user` ON `article`.`user_email` = `user`.`email`
        WHERE `article`.`board_id` = #{boardId}
        ORDER BY `article`.`index` DESC
    </select>

    <select id="selectArticleByIndex"
            resultType="dev.hsjung.project.vos.ArticleReadVo">
        SELECT
              `article`.`index`              AS `index`,
              `article`.`user_email`         AS `userEmail`,
              `article`.`board_id`           AS `boardId`,
              `article`.`title`              AS `title`,
              `article`.`content`            AS `content`,
              `article`.`view`               AS `view`,
              `article`.`written_on`         AS `writtenOn`,
              `article`.`modified_on`        AS `modifiedOn`
        FROM `bbs`.`articles`       AS `article`
            LEFT JOIN `member`.`users` AS `users` ON `article`.`user_email` = `users`.`email`
        WHERE BINARY `article`.`index` = #{index}
        LIMIT 1
    </select>
    <update id="updateArticle"
            parameterType="dev.hsjung.project.entities.bbs.ArticlesEntity">
        UPDATE `bbs`.`articles`
        SET
            `index`         =#{index},
            `user_email`    =#{userEmail},
            `board_id`      =#{boardId},
            `title`         =#{title},
            `content`       =#{content},
            `view`          =#{view},
            `written_on`    =#{writtenOn},
            `modified_on`   =#{modifiedOn}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <delete id="deleteArticleByIndex">
        DELETE FROM `bbs`.`articles` WHERE `index` = #{index} LIMIT 1
    </delete>


</mapper>