<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resources/stylesheets/register.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/commons.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/main.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/topnav.css}">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!--카카오 지 도 사용하기위한 script-->
    <script defer th:src="@{/resources/scripts/register.js}"></script>
    <script src="https://kit.fontawesome.com/6109b4bf33.js" crossorigin="anonymous"></script>

    <title>회원가입</title>
</head>
<body>
    <div class="topNav">
        <div>빈공간</div>
        <div class="topNav-Nav">
            <div class="member" id="member">
                <a class="sign-up " href="#">회원가입</a>
                <div class="null"></div>
                <a class="login" href="#">로그인</a>
                <div class="null"></div>
                <a class="clientCenter" href="#">고객센터</a>
            </div>
            <div class="image" id="image">
                <img src="/resources/images/marketkurly.png" alt="메인로고임">
            </div>
            <div class="header" id="header">
                <div class="header-head">
                    <ul>
                        <li>
                            <span class="category">신상품</span>
                        </li>
                        <li>
                            <span class="category">베스트</span>
                        </li>
                        <li>
                            <span class="category">알뜰쇼핑</span>
                        </li>
                        <li>
                            <span class="category">특가/혜택</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="--main">
        <form class="form step1 " id="form">
        <div class="--main-title">회원가입</div>
        <div class="--main-title-sub">
            <div class="head">
                <span class="star">*</span>
                필수입력사항
            </div>
            <div class="--main-content">
                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            이메일
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="email" name="email" placeholder="이메일 주소를 입력해주세요." type="email"  >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">
                            <input class="--object-button" name="emailSend" type="button" value="인증하기">
                        </div>
                    </div>
                </div>
                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            이메일인증 확인
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" disabled name="emailAuthCode" placeholder="이메일 인증번호를 입력해주세요" type="text"  >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">
                            <input class="--object-button" disabled name="emailVerify" type="button" value="인증번호 확인"   >
                        </div>
                    </div>
                </div>

                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                        비밀번호
                        <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                    <div class="--input-sub">
                        <div class="--input-sub-sub">
                            <label>
                            <input class="input" id="password" name="password" placeholder="비밀번호를 입력해주세요." type="password" >
                            </label>
                        </div>
                    </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                    </div>

                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            비밀번호확인
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="passwordCheck" name="passwordCheck" placeholder="비밀번호를 한번 더 입력해주세요." type="password" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">
                        </div>
                    </div>
                </div>

                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            이름
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="name" name="name" placeholder="이름을 입력해주세요." type="text" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                </div>

                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            닉네임
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요." type="text" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                </div>

                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            휴대폰
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="contact" name="contact" placeholder="숫자만 입력해주세요." type="text" >
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="doubleCheck">

                    </div>

                </div>

                <div class="content-common">
                    <div class="content-common-sub">
                        <label class="label">
                            주소
                            <span class="star">*</span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <input class="addressFind" name="addressFind" type="button" value="주소찾기">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                </div>

                <div class="content-common address">
                    <div class="content-common-sub">
                        <label class="label">
                            우편번호
                            <span class="star"></span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="addressPostal" name="addressPostal" placeholder="우편번호" type="text" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                </div>

                <div class="content-common address">
                    <div class="content-common-sub">
                        <label class="label">
                            기본주소
                            <span class="star"></span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="addressPrimary" name="addressPrimary" placeholder="기본주소" type="text" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                </div>

                <div class="content-common address">
                    <div class="content-common-sub">
                        <label class="label">
                            상세주소
                            <span class="star"></span>
                        </label>
                    </div>
                    <div class="--input">
                        <div class="--input-sub">
                            <div class="--input-sub-sub">
                                <label>
                                <input class="input" id="addressSecondary" name="addressSecondary" placeholder="상세 주소를 입력해주세요." type="text" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doubleCheck">

                        </div>
                    </div>
                </div>
                <div class="panel address" rel="addressFindPanel">
                    <div class="dialog" rel="addressFindPanelDialog"></div>
                </div>

                <div class="bottomLine"></div>

                <div class="step2 agreeFrame">
                    <div class="agreeFrame-sub checkbox_group">
                        <div class="agreeFrame-sub-sub1">
                            <label class="label">
                                이용약관동의
                                <span class="star">*</span>
                            </label>
                        </div>
                        <div class="agreeFrame-sub-sub2">
                            <div class="agree">
                                <div class="agree-sub1">
                                <label class="label --object-check" for="TermsAgreeAll">
                                    <input id="TermsAgreeAll" class="TermsAgreeAll" type="checkbox">
                                    <span>전체 동의합니다.</span>
                                </label>
                                <p class="p">선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용하실 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="agree">
                                <div class="agree-sub2">
                                    <label class="label --object-check" for="RequiredTermsCondition">
                                    <input id="RequiredTermsCondition" class="RequiredTermsCondition" type="checkbox">
                                    <span>이용약관 동의</span>
                                    </label>
                                    <span class="essential">(필수)</span>
                                </div>
                                <a class="viewTerms">약관보기</a>
                            </div>
                            <div class="agree">
                                <div class="agree-sub2">
                                    <label class="label --object-check" for="RequiredTermsOfPrivacy">
                                        <input id="RequiredTermsOfPrivacy" class="RequiredTermsOfPrivacy" type="checkbox">
                                        <span>개인정보 수집∙이용동의</span>
                                    </label>
                                    <span class="essential">(필수)</span>
                                </div>
                                <a class="viewTerms">약관보기</a>
                            </div>


                        </div>
                    </div>

                    </div>

                <div class="joinFrame">
                    <button class="buttonJoin" rel="buttonJoin" type="submit">
                        <span>가입하기</span>
                    </button>

                </div>
                </div>


        </div>
        </form>
    </div>
</body>
</html>