<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/6109b4bf33.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">


  <link rel="stylesheet" th:href="@{/resources/stylesheets/topnav.css}">
  <link rel="stylesheet" th:href="@{/resources/stylesheets/commons.css}">

  <title>컬리마켓</title>

</head>
<body>
<div class="topNav" th:fragment="topNav">
  <div>빈공간</div>
  <div class="topNav-Nav">
    <div class="Nav-member" id="member">
      <a class="Nav-sign-up">회원가입</a>
      <div class="null"></div>
      <a class="Nav-login" th:if ="${session.user == null}" th:href="@{/member/login}">로그인</a>
      <div class="null"></div>
      <a class="Nav-logout"  th:if ="${session.user != null}" th:href="@{/member/logout}">로그아웃</a>
      <div class="null"></div>
      <a class="Nav-client">고객센터</a>
    </div>
    <div class="Nav-image" id="image">
      <img src="/resources/images/marketkurly.png">
    </div>
    <div class="Nav-header" id="header">
      <div class="header-head">
        <ul>
          <li>
            <span class="category">신상품</span>
          </li>
          <li>
            <span class="category">베스트</span>
          </li>
          <li>
            <span class="category">알뜰쇼핑</span>
          </li>
          <li>
            <span class="category">특가/혜택</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
</body>



</html>