.topNav{

}
.topNav > .topNav-Nav{
    position: relative;
}
.topNav > .topNav-Nav > .Nav-member{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 20;
    font-size: 12px;
    -webkit-box-align: center;
    right: 5rem;
    top: 0;

}
.Nav-member>.Nav-sign-up{
    display: block;
    color:rgb(95,0,128);
    cursor: pointer;
}
.null{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217,217,217);
}
.Nav-member >.Nav-login{
    display: block;
    cursor: pointer;
}
.Nav-member >.Nav-client{
    display: block;
    cursor: pointer;
}

.topNav > .topNav-Nav > .Nav-image{

    display: flex;
    flex-direction:row;
    justify-content: center;
    position: center;
}
.topNav > .topNav-Nav > .Nav-header{
    display:block;
    min-width: 1050px;
    position: relative;

    font-size: 1.5rem;
    user-select: none;
    box-shadow: rgb(0 0 0 /7%) 0px 3px 4px 0px;
    width: 100%;

}
.topNav >.topNav-Nav >.Nav-header >.header-head{
    width: 1050px;
    height: 56px;
    display: flex;
    user-select: none;
    position: relative;
    justify-content: center;
    margin: 0px auto;


}
.topNav > .topNav-Nav > .Nav-header ul {

    display: flex;

    justify-content: space-between;
    margin-inline-start: 30px;
    margin-left: 30px;
    padding-inline-start:40px;

}
.topNav > .topNav-Nav > .Nav-header ul li {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    line-height: 20px;
    text-align: center;
    width: 150px;

}